.project {
    display: flex;
}

.image {
    float: left;
    width:  22.5rem;
    height: 22.5rem;
    object-fit: cover;
    filter: brightness(0.35);
    padding: 0.5rem;
    border-radius: 1rem;
}

.project__container {
    position: relative;
    display: flex;
    border: 1px solid var(--header-background-color);
    transition: background-color 0.5s, box-shadow 0.5s;
    border-radius: 1rem;
}

.project__container:hover {
    background-color: var(--hover-main-background-color);
    box-shadow: 5px 5px 20px #7c7c7c;
}

.project__name, .project__date, .project__description {
    position: absolute;
    color: var(--main-p-text-color);
}

.project__name, .project__date {
    left: 0.75rem;
}

.project__name {
    top: 0;
    font-size: 120%;
    font-weight: bold;
    padding: 0.25rem;    
}

.project__date {
    top: 2.5rem;
    font-size: 115%;
    padding: 0.15rem;
}

.project__description {
    bottom: 0;
    right: 0;
    margin-left: 7.5rem;
    padding: 0.5rem;
}



