.educationContainer {
    background-color: var(--alternate-background-color);
    color: var(--alternate-p-text-color);
    padding-bottom: 11rem;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.educationContainer .educationTitle, .educationContainer .coursesContainer {
    flex: 1;
}

.coursesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}

@media (max-width: 780px) {
    .coursesContainer {
        grid-template-columns: 1fr;
    }
}
