.courseContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5rem;
}

.courseTitle {
    font-size: 150%;
    font-weight: bold;
}

.courseContainer p {
    flex: 1;
    margin: auto 0;
    padding-left: 5rem;
    color: var(--alternate-p-text-color);
}

.courseLecturer {
    font-size: 80%;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
}

@media (max-width: 780px) {

    .courseContainer p {
        padding-left: 2rem;
    }

    .courseTitle {
        font-size: 115%;
    }
    .courseLecturer {
        font-size: 60%;
    }
}