
.navTitle {
    padding-top: 5rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 0.25rem;
    display: inline-block;
}

.mainNavTitleColor {
    color: var(--h1-text-color);
}

.altNavTitleColor {
    color: var(--alternate-h1-text-color);
}

@media (max-width: 780px) {
    .navTitle {
        font-size: 150%;
        padding-left: 2rem;
    }
}
