.jobStyling {
    padding-bottom: 3rem;
}

.company, .jobDates, .jobTitle {
    margin: auto 0;
    padding-left: 5rem;
    color: var(--alternate-p-text-color);
}

.company {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.jobDates, .jobTitle {
    font-size: 125%;
}

.datesAndTitleContainer {
    display: grid;
    grid-template-columns: 18rem 20rem 1fr;
}

.jobDates {
    padding-right: 1rem;
}

.jobTitle {
    padding-left: 1rem;
    border-left: 0.10rem solid var(--alternate-p-text-color);
}

@media (max-width: 780px) {
    .company {
        font-size: 115%;
    }
    
    .jobDates, .jobTitle {
        font-size: 95%;
    }

    .datesAndTitleContainer {
        grid-template-columns: 10rem 10rem 1fr;
    }
}

