.jobDescriptionStyle {
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding-left: 6.5rem;
}

.task{
    margin: auto 0;
    padding-bottom: 1rem;
    color: var(--alternate-p-text-color, gold);
}

@media (max-width: 780px) {

    .jobDescriptionStyle {
        margin-top: -2rem;
        margin-bottom: 3rem;
        padding-left: 1.5rem;
    }

    .task {
        font-size: 75%;
        margin-left: 2rem;
    }
}