.skillContainer {
    margin-bottom: 2.5rem;
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
}

.describedSkillStyling {
    font-size: 150%;
    font-weight: bold;
    flex: 1;
}

.skillGrid {
    flex: 1;
}
