.toolsStyling {
    padding-bottom: 11rem;
}

.toolDescription {
    font-size: 150%;
    margin-top: -1.5rem;
    padding-left: 5rem;
}

.toolsListGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
}

.changeButton {
    margin-left: 5rem;
    font-size: large;
    margin-bottom: 2rem;
    padding: 10px 25px;
    color: white;
    background-color: var(--CTA-color);
    border: 3px solid var(--CTA-color);
    border-radius: 5px;
    transition: all 0.3s;
}

.changeButton:hover {
    background-color: var(--CTA-hovered-color);
    border: 3px solid var(--CTA-hovered-color);
    cursor: pointer;
}

@media (max-width: 780px) {
    .toolsListGrid {
        grid-template-columns: 1fr;
        margin-left: -3rem;
    }

    .toolDescription {
        font-size: 115%;
        padding-left: 2rem;
    }
    
    .toolType {
        font-size: 130%;
    }

    .changeButton {
        margin-left: 2rem;
    }

}