.contact {
    background-color: var(--alternate-background-color);
    padding-top: 3rem;
    padding-bottom: 5rem;
    margin-bottom: -2rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.contact p {
    color: var(--alternate-p-text-color);
    margin: auto 0;
    font-size: 200%;
    text-align: center;
}

.contact__title {
    font-size: 350%;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#email {
    margin-top: 2rem;
}

#email, #github {
    transition: text-decoration 0.5s;
}

#email:hover, #github:hover, #resume:hover {
    text-decoration: underline;
}

#phone {
    font-size: 150%;
    padding: 0.5rem;
}

#github a, #resume a {
    color: var(--alternate-p-text-color);
}

#place {
    font-size: 85%;
}

/* New styles for the form */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 55%; /* Adjust width as needed */
    padding: 0.5rem;
    font-size: 100%;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact textarea {
    height: 100px; /* Adjust height as needed */
    resize: vertical;
}

.contact form button {
    background-color: var(--button-color); 
    color: var(--main-p-text-color);
    border: 2px solid var(--button-color);
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    font-size: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: var(--hover-button-color); 
    color: var(--button-color);
    border: 2px solid var(--button-color);
}

/* Responsive adjustments */
@media (max-width: 780px) {
    .contact input[type="text"],
    .contact input[type="email"],
    .contact textarea {
        width: 90%;
    }

    .contact p {
        font-size: 150%;
    }
    
    #phone {
        font-size: 100%;
    }
    
}
