header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header p {
    margin: 0;
    color: var(--main-p-text-color);
    white-space: nowrap;
    display: inline;
}

.profilePicture {
    width: 70px;
    border-radius: 35px;
    margin-right: 1rem;
}

.profileName {
    display: flex;
    flex-direction: row;
    flex: 5;
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 250%;
    font-weight: bold;
}

nav {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.10rem;
    padding-top: 0.25rem;
    padding-bottom: 0.10rem;
}

nav p {
    background-color: var(--header-background-color);
    font-size: 85%;
    transition: text-decoration 0.5s;
    padding-top: -3rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
}


nav p:hover, nav p:active {
    text-decoration: underline;
}

nav p a:hover {
    cursor: pointer;
}


@media (max-width: 780px) {
    nav {
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1150px) and (min-width: 779px) {
    nav {
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
