header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--header-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header p {
    margin: 0;
    color: var(--p-text-color);
    white-space: nowrap;
}

.resumeHeader, .profileName {
    display: flex;
    flex-direction: row;
}

.profilePicture {
    width: 70px;
    border-radius: 35px;
    margin-right: 1rem;
}

.profileName {
    flex: 5;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 300%;
    font-weight: bold;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 1rem;
    padding-right: 0.25rem;
    padding-bottom: 1.5rem;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0.10rem;
    padding-top: 0.25rem;
    padding-bottom: 0.10rem;
}

nav p {
    background-color: var(--header-background-color);
    font-size: 140%;
    transition: background-color 0.5s, color 0.5s, text-decoration 0.5s;
    padding-left: 1rem;
    padding-bottom: 0.25rem;
}


nav p:hover, nav p:active {
    background-color: var(--hover-darker-color);
    color: var(--hover-color);
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 400px) {
    p {
        font-size: 80%
    }

    .profileName {
        font-size: 150%;
    }

    nav {
        column-gap: 0.05rem;
        padding-top: 0.25rem;
        padding-bottom: 0.10rem;
    }
}





