header {
    display: flex;
    flex-direction: column;
    background-color: rgb(158, 158, 158);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

p {
    margin: 0;
}

.resumeHeader {
    display: flex;
    flex-direction: row;
}

.profileName {
    display: flex;
    flex-direction: row;
    flex: 5;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    flex: 1;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
}


nav p:hover {
    background-color:rgb(101, 101, 101)
}




