.container {
    display: flex;
}

.image {
    float: left;
    width:  22.5rem;
    height: 22.5rem;
    object-fit: cover;
    filter: brightness(0.5);
    padding: 0.5rem;
    border-radius: 1rem;
}

.projectContainer {
    position: relative;
    display: flex;
    border: 1px solid var(--header-background-color);
    transition: background-color 0.5s, box-shadow 0.5s;
    border-radius: 1rem;
}

.projectContainer:hover {
    background-color: var(--hover-main-background-color);
    box-shadow: 5px 5px 20px #393939;
    cursor: pointer;
}

.projectName, .projectDate, .projectDescription {
    position: absolute;
    color: var(main-p-text-color);
}

.projectName, .projectDate {
    left: 0.75rem;
}

.projectName {
    top: 0;
    font-size: 120%;
    font-weight: bold;
    padding: 0.25rem;    
}

.projectDate {
    top: 2.5rem;
    font-size: 75%;
    padding: 0.15rem;
}

.projectDescription {
    bottom: 0;
    right: 0;
    margin-left: 7.5rem;
    padding: 0.5rem;
}

