.jobDescriptionStyle {
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding-left: 6.5rem;
}

.task{
    padding-bottom: 1rem;
    padding-right: 6.5rem;
    color: var(--alternate-p-text-color);
}

@media only screen and (max-width: 780px) {

    .jobDescriptionStyle {
        margin-top: -2rem;
        margin-bottom: 3rem;
        padding-left: 1.5rem;
    }

    .task {
        font-size: 75%;
        margin-left: 2rem;
        padding-right: 2rem;
    }

}
