@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --h1-text-color: white;
  --alternate-h1-text-color: #212834;
  --main-p-text-color: white;
  --alternate-p-text-color: #212834;
  --header-background-color: #048BC2;
  --hover-main-background-color: #425067;
  --alternate-background-color: white;
  --footer-background-color: #048BC2;
}

body {
  background-color: #212834;
  font-family: 'Times New Roman', 'Verdana', 'Arial';
  z-index: 500;
}

p {
  color: var(--main-p-text-color);
}

a {
  color: var(--main-p-text-color);
  text-decoration: none; /* default state for texts not underline*/
}

