.aboutMeOuterContainer {
    display: grid;
    flex-direction: column;
    margin-top: -5rem;
    padding-bottom: 10rem;
}

.aboutMeOuterContainer div, .aboutMeOuterContainer p {
    flex: 1;
    margin: auto 0;
}

.aboutMeOuterContainer p {
    padding-bottom: 1rem;
    padding-left: 5rem;
}

.aboutMeSummary a {
    font-size: small;
}

.aboutMeSummary a button {
    margin-left: 5rem;
    padding: 10px 25px;
    color: white;
    background-color: var(--CTA-color); 
    border: 3px solid var(--CTA-color);
    border-radius: 5px;
    transition: all 0.3s;
}

.aboutMeSummary a button:hover {
    background-color: var(--CTA-hovered-color);
    border: 3px solid var(--CTA-hovered-color);
    cursor: pointer;
}

.aboutMeInnerContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.aboutMeSubTitle {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 2rem;
}

.profileImage {
    float: center;
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    padding: 1rem;
    border-radius: 1rem;
    background-color: aliceblue;
}

#resume {
    margin-top: 2rem;
    font-size: 150%;
}

@media only screen and (max-width: 780px) {

    .aboutMeOuterContainer p {
        padding-left: 2rem;
    }

    .aboutMeSummary a button {
        margin-left: 2rem;
    }

    .aboutMeInnerContainer {
        grid-template-columns: 1fr;
    }

    .profileImage {
        width:  25rem;
        height: 25rem;
        margin-top: 3rem;
        padding: 0.4rem;
        border-radius: 0.7rem;
    }
}

@media only screen and (max-width: 1150px) and (min-width: 779px) {

    .aboutMeInnerContainer {
        column-gap: 2.5rem;
    }

    .profileImage {
        width:  25rem;
        height: 25rem;
        padding: 0.75rem;
        border-radius: 0.85rem;
    }
}
