.aboutMeOuterContainer {
    display: flex;
    flex-direction: column;
    margin-top: -7.5rem;
    padding-bottom: 10rem;
}

.aboutMeOuterContainer div, .aboutMeOuterContainer p {
    flex: 1;
    margin: auto 0;
}

.aboutMeOuterContainer p {
    padding-bottom: 2rem;
    padding-left: 5rem;
}

.aboutMeInnerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

.aboutMeSummary{
    height: 35rem;
}

.aboutMeSubTitle {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 2rem;
}

.profileImage {
    float: center;
    width:  35rem;
    height: 35rem;
    object-fit: cover;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid var(--header-background-color);
}

#resume {
    margin-top: 2rem;
    font-size: 150%;
}

#linkArrow {
    padding-left: 0.5rem;
    width: 150%;
}

@media (max-width: 780px) {

    .aboutMeOuterContainer p {
        padding-left: 2rem;
    }

    .aboutMeInnerContainer {
        grid-template-columns: 1fr;
    }

    .aboutMeImageContainer {
        padding-left: 5rem;
    }

    .profileImage {
        width:  18rem;
        height: 18em;
        padding: 0.4rem;
        border-radius: 1rem;
        border: 1px solid var(--header-background-color);
    }

    .aboutMeSummary{
        height: fit-content;
    }
    
}

@media (max-width: 1150px) and (min-width: 779px) {

    .aboutMeInnerContainer {
        column-gap: 2.5rem;
    }

    .profileImage {
        width:  27rem;
        height: 27rem;
        padding: 0.75rem;
        border-radius: 1.5rem;
        border: 2px solid var(--header-background-color);
    }

    .aboutMeSummary{
        height: 27rem;
    }
}
